.section-title {
    font-size: 2.25rem;
    line-height: 2.625rem;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
    padding: 64px 0 0;
    text-align: left;
}

@media screen and (max-width: 420px) {
    .section-title {
        font-size: 1.1875rem;
        padding: 61px 40px 0;
    }
}

@media screen and (max-width: 1000px) {
    .section-title {
        padding: 64px 40px 0;
    }
}