.gallery__img {
  /* width: 100%; */
  max-width: 224px;
  max-height: 224px;
  /* height: 100%; */
  /* display: block; */
  /* position: relative; */
  object-fit: cover;
}

/* .gallery__img::before {
  content: "";
  display: block;
  margin-bottom: 100%;
} */
