.portfolio__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;
    padding: 0 0 28px 30px;
}

@media screen and (max-width: 420px) {
    .portfolio__wrapper {
        padding: 0 0 25px 24px;
    }
}