.portfolio__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 304px;
    gap: 16px;
    padding-top: 53px;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .portfolio__list {
        grid-template-columns: repeat(2, auto);
        place-content: center;
    }
}

@media screen and (max-width: 680px) {
    .portfolio__list {
        padding-top: 25px;
        grid-template-columns: 1fr;
        grid-auto-rows: 302px;
        place-items: center;
    }
}

@media screen and (max-width: 420px) {
    .portfolio__list {
        padding-top: 8px;
        gap: 0;
    }
}