.header {
    position: relative;
    display: flex;
    padding: 41px 0 0;
    max-width: 944px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

@media screen and (max-width: 320px) {
    .header {
        padding: 35px 0 0;
    }
}