.portfolio {
    max-width: 944px;
    width: 90%;
    padding: 4px 0 65px;
    margin: 0 auto;
}

@media screen and (max-width: 420px) {
    .portfolio {
        width: 83%;
        padding: 0px 0 70px;
    }
}