.social__logo {
    max-width: 20px;
    width: 100%;
    min-height: 20px;
    transition: filter .2s;
}

@media screen and (max-width: 320px) {
    .social__logo {
        max-width: 16px;
    }
}

.social__logo:hover {
    filter: drop-shadow(0 0 3px #fff);
}