.hero {
    padding: 109px 0 71px;
    margin: 0 auto;
    max-width: 944px;
    width: 83.125vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .hero {
        padding: 109px 0 71px;
    }
}

@media screen and (max-width: 790px) {
    .hero {
        flex-direction: column;
        align-items: center;
        padding: 109px 0 71px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 420px) {
    .hero {
        padding: 42px 0 44px;
    }
}