.form__input_type_tel {
    margin-top: 15px;
    background-image: url(./phone-icon.svg);
    background-repeat: no-repeat;
    background-position: 24px center;
    text-indent: 26px;
    color: #949494;
    font-size: 0.875rem;
}