.contacts__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 374px;
}

@media screen and (max-width: 790px) {
    .contacts__list {
        flex-direction: column;
    }
}