.hero__wrapper {
    padding-top: 37px;
    order: 1;
}

@media screen and (max-width: 790px) {
    .hero__wrapper {
        order: 2;
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .hero__wrapper {
        padding-top: 17px;
    }
}