.gallery-block {
  margin: 96px auto;
  padding: 0;
  max-width: 944px;
  width: 83.125vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(0, 224px));
  gap: 16px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .gallery-block {
    margin: 35px auto 34px;
    display: flex;
    max-width: 83.4375vw;
    overflow-x: scroll;
    gap: 15px;
    padding-bottom: 17px;
  }
  ::-webkit-scrollbar {
    width: 3px;
    height: 4px;
  }
  ::-webkit-scrollbar-button {
    background-color: #cecece;
  }
  ::-webkit-scrollbar-track {
    background-color: #cecece;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #cecece;
  }
  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #ffbb01;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-corner {
    background-color: #cecece;
  }
  ::-webkit-resizer {
    background-color: #cecece;
  }
}
