.grid-features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 15px;
    margin-bottom: 97px;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 767px) {
    .grid-features {
        grid-template-columns: 1fr;
        gap: 30px;
        margin-bottom: 59px;
    }
    .grid-features li:nth-child(4) {
        margin-top: 3px;
    }
}